<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GroceryListWebApp-20210517062633.mdf;Initial Catalog=aspnet-GroceryListWebApp-20210517062633;Integrated Security=True" providerName="System.Data.SqlClient" />

  <add name="GroceryListDB"
       connectionString="Data Source=.;
                         Initial Catalog=GroceryList;
                         Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>